.folowers {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;

    @media (max-width: 720px) {
      border-left: none;
      width: 100%;
      height: 450px;
    }
  }

  &-header {
    font-size: 32px;
    font-weight: 600;
    padding: 5px;
    color: var(--color-fg-default);
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
  }
}
