.header {
  &-container {
    height: 50px;
    background-color: rgb(20, 50, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: white;
  }

  &-logo {
    margin: 0 15px;
    font-size: 20px;
  }

  &-links {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    color: white;
  }

  &-link {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;

    &-active {
      color: rgba(255, 0, 0, 0.705);
    }
  }
}
