.repositories {
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    margin-top: 10px;
    border-left: 1px solid var(--color-border-muted);

    background-color: var(--background-color);
    color: var(--color-fg-default);

    @media (max-width: 720px) {
      border-left: none;
      height: 550px;
    }
  }

  &-header {
    font-size: 32px;
    font-weight: 600;
    padding: 25px 5px;
    color: var(--color-fg-default);
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-list {
    border: 1px solid var(--color-border-muted);
    height: 456px;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 3px;
  }

  &-item {
    display: flex;
    justify-content: center;
  }
}
